.carousel_grid {
  padding: 10px;
  color: rgb(29 100 168);
}
.carousel_div {
  background-image: url(../../assets/Bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  background-color: #cccccc;
}
.carousel_hero {
  padding: 15px;
  color: rgb(29 100 168);
}

.carousel_cards {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
}
.card_adjust {
  margin-bottom: 25px !important;
}
.carousel_cards h3 {
  margin-bottom: -8px;
}
.carousel_card_icon {
  font-size: 4rem !important;
}

.carousel_cards p {
  font-size: 15px;
}

.dialog_cards {
  color: rgb(29 100 168) !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  color: rgb(29 100 168) !important;
}
